{% render 'partials/head.liquid' %}

{% render 'partials/header.liquid', title: 'Squad page' %}

<aside>
{% render 'partials/choosebtn.liquid', title: 'Choose Button' %}
</aside>

<main class="main-index">
  <h1>Bekijk hier alle teams</h1>

  <section class="teams">
    {% for team in teams %}
      <article class="team-card">
        <h2>Team <strong>{{ team.teamName }}</strong></h2>

        <div class="card-info">
          <p><a href="">Link naar live site</a></p>
          <p><a href="">Link naar repo</a></p>
          {% for message in messages %}
            <p class="rating"><em>{{ message.text }}</em></p>
          {% endfor %}
        </div>

          <form method="post" action="/">
            <h3>Rating</h3>
            <label for="ratingInput"> Beoordeel de squadpage van Team {{ team.teamName }}
              <div class="input-output">
                <input type="hidden" name="teamID" value="{{ team.teamName }}">
                <input type="range" id="ratingInput" name="ratingInput" min="1" max="10" step="1" value="6">
                <output id="amount" name="amount" for="ratingInput">6</output>
              </div>
            </label>
            <button type="submit" class="btn-small">Verstuur</button>
          </form>

        <div class="members">
          <h3>Leden</h3>
          <div class="members-list">
            {% for member in team.members %}
              <a href="/student/{{ member.id }}">
                <figure>
                  <img src="{{ member.avatar }}" onerror="this.src='assets/altperson.png'" alt="Afbeelding van student" width="30px">
                  <figcaption>{{ member.name }}</figcaption>
                </figure>
              </a>
            {% endfor %}
          </div>
        </div>
      </article>
    {% endfor %}
  </section> 







 





  {% comment %} <h1>Zet 'm op team {{ teamName }}!</h1>

  <h2>Huidige berichten</h2>

  {% for message in messages %}
  <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
  {% else %}
  <p>Er zijn nog geen berichten voor dit team.</p>
  {% endfor %}

  <h2>Voeg een bericht toe</h2>
  <form method="post" action="/">
    <label>
      Naam:
      <input type="text" name="from" required>
    </label>
    <label>
      Bericht:
      <textarea name="text" required></textarea>
    </label>
    <button type="submit">Verstuur</button>
  </form> {% endcomment %}
</main>

{% render 'partials/footer.liquid' %}