{% render 'partials/head.liquid' %}

{% render 'partials/header.liquid', title: 'Squad page' %}

<aside>
{% render 'partials/choosebtn.liquid', title: 'Choose Button' activer:'active' %}
</aside>

<main class="main-index">
  <h1>Bekijk hier alle teams</h1>

  <section class="teams">
    <h2 class="visually-hidden">Teams</h2>
    {% for team in teams %}
      <article class="team-card">
        <h2>Team <strong>{{ team.teamName }}</strong></h2>

        <div class="card-info">
          <p><a href="{{ team.linkSite }}" target="_blank">Bekijk hier de live site</a></p>
          <p><a href="{{ team.linkRepo }}" target="_blank">Bekijk hier de repo</a></p>
          <p class="rating"><em>{{ team.rating }}</em></p>
        </div>  

        <form method="post" action="/">
          <h3>Rating</h3>
          <label for="ratingInput{{ team.teamName | replace: ' ', '-' }}" class="input-output"> Beoordeel de squadpage van Team {{ team.teamName }}</label>
          <div class="input-output">
              <input type="hidden" name="teamID" value="Team Flex / Rating for Team {{ team.teamName }}">
              <input type="range" id="ratingInput{{ team.teamName | replace: ' ', '-' }}" name="ratingInput" min="1" max="10" step="1" value="{{ team.rating  }}">
              <output id="amountOutput{{ team.teamName | replace: ' ', '-' }}" for="ratingInput">{{ team.rating  }}</output>
          </div>
          <button type="submit" class="btn-small">Verstuur</button>
        </form>

        <div class="members">
          <h3>Leden</h3>
          <div class="members-list">
            {% for member in team.members %}
              <a href="/student/{{ member.id }}">
                <figure>
                  <img src="{{ member.avatar }}" onerror="this.src='assets/altperson.png'" alt="Afbeelding van student" width="30">
                  <figcaption>{{ member.name }}</figcaption>
                </figure>
              </a>
            {% endfor %}
          </div>
        </div>
      </article>
    {% endfor %}
  </section> 
</main>

{% render 'partials/footer.liquid' %}